body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  border: solid 2px black;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinear al inicio (izquierda) */
  width: 80%;
  margin: auto;
}

header img {
  width: 400px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.text {
  font-size: x-large;
  display: inline-flex;
}
header  p{
  width: 100px;
  font-size: small;
}

main {
  background-color: cadetblue;
  border: solid 2px black;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main h1 {
  padding-top: 20px;
  font-size: medium;
}

.container-main img {
  width: 500px;
  height: 250px;
}
